Synapse/pipeline/FintechPipeline.json
{
	"name": "FintechPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetTablesfromSQLDatabase",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n    TABLE_SCHEMA AS SchemaName,\n    TABLE_NAME AS TableName\nFROM \n    INFORMATION_SCHEMA.TABLES\nWHERE \n    TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'fintech'\nORDER BY \n    SchemaName, TableName;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLDatabase",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTablesfromSQLDatabase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTablesfromSQLDatabase').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copydata",
							"description": "CopydatafromSQLDBby all tables by dynamically",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('select * from',item().SchemaName,'.',item().TableName)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLDatabase",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BronzeLayer",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@item().SchemaName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "bronzetosilver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "bronzetosilver",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "poolfor",
						"type": "BigDataPoolReference"
					},
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "bronzetogold",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "bronzetosilver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "silvertogold",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "poolfor",
						"type": "BigDataPoolReference"
					},
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "successnotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "bronzetogold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-08.canadacentral.logic.azure.com:443/workflows/a5223c339d0849f3b7f403fd89fa5f86/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=UK5C719UTlZpwrm97-VS5gdxgKnGe5YpZ4EUD8jJmp4",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n    \"to\":\"@{pipeline().parameters.to}\",\n    \"subject\":\"@{pipeline().parameters.subjectsucess}\",\n    \"email\":\"@{pipeline().parameters.emailsucess}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "failurenotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "bronzetogold",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-08.canadacentral.logic.azure.com:443/workflows/a5223c339d0849f3b7f403fd89fa5f86/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=UK5C719UTlZpwrm97-VS5gdxgKnGe5YpZ4EUD8jJmp4",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n    \"to\":\"@{pipeline().parameters.to}\",\n    \"subject\":\"@{pipeline().parameters.subjectfailed}\",\n    \"email\":\"@{pipeline().parameters.emailfailure}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"concurrency": 3,
		"parameters": {
			"to": {
				"type": "string",
				"defaultValue": "kchavva@uwm.edu"
			},
			"subjectsucess": {
				"type": "string",
				"defaultValue": "Fintech pipeline --SUCESS"
			},
			"emailsucess": {
				"type": "string",
				"defaultValue": "Fintech pipeline executed sucessfully"
			},
			"subjectfailed": {
				"type": "string",
				"defaultValue": "Fintech pipeline --FAILED"
			},
			"emailfailure": {
				"type": "string",
				"defaultValue": "Fintech pipeline NOT executed sucessfully"
			}
		},
		"annotations": []
	}
}